Order Deny,Allow
Options +FollowSymlinks -Multiviews -Indexes
Header append Vary User-Agent
SetEnv MX America/Mexico_City
<IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond $1 !^(index\.php|css|js|images|uploads)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>